@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body {
    font-family: 'League Spartan', sans-serif !important;
    margin: 0;
}

nav {
    background-color: #3D348B; 
    color: #fff;
    padding-top: 15px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a {
    color: #fff;
    letter-spacing: 3px;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none; 
    position: relative;
    border-bottom: 2px solid #F7B801; 
    padding-bottom: 5px;
}

nav ul li a.active {
    font-weight: bold;
}

.logo {
    max-width: 200px;
    height: auto;
}

.chatbox {
    max-width: 35px;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.card img {
    max-width: 100%;
    height: auto;
}

.custom-mt {
    margin-top: 6.5rem;
  }

  footer {
    margin-top: 10px; /* Add some space above the footer */
}