.tips-body {
  margin-top: 9rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
hr {
    border: 0;
    height: 3px !important; 
    background: #F7B801; 
    margin: 20px 0;
}

.content {
    align-items: center;
    text-align: center;
}

.flip-card {
    /* background-color: transparent; */
    width: 300px;
    height: 300px;
    perspective: 1000px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px; 
    margin-top: 20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  
  .flip-card-front {
    background-color: #3D348B;
    color: white;
  }
  
  .flip-card-back {
    padding: 10px;
    background-color: #FDEFB2;
    color: #181818;
    transform: rotateY(180deg);
  }
